body {
  color: brown;
  background-color: rgb(72, 72, 177);
}

.container-fluid {
  background-color: black;
}
.team-heading {
  background-color: rgb(79, 6, 6);
}

.team-area {
  justify-content: space-evenly !important;
  padding: 10px;
  margin: 10px;
  width: 100%;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: aliceblue;
  font-size: 3.5rem;
  font-weight: bolder;
  font-style: oblique;
  font: optional;
}
.card {
  background-color: rgb(240, 248, 248);
}
.card-header {
  background-color: antiquewhite;
}
